.sign_in_form {
 text-align: center;
}

.sign_in_container {
 padding-top: 4%;
}

.sign_in_form h1 {
 font-size: 2.6rem;
}

.lead_selection {
 display: flex;
 flex-direction: column;
}

.team_leads {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 width: 50%;
 align-self: center;
}

.team_leads li {
 color: black;
 border: black solid 3px;
 background-color: #beb18b;
 /* width: 13rem; */
 max-width: 250px;
 margin: 10px;
 padding: 10px;
}

.team_leads li:hover {
 background-color: #e7a61a;
}

/* background: linear-gradient(rgba(0, 0, 0, 0.8),
 rgba(0, 0, 0, 0.8)),
url('../images/20.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover; */