.sign_in_form {
 text-align: center;
 background:
  linear-gradient(rgba(0, 0, 0, 0.8),
   rgba(0, 0, 0, 0.8)),
  url('../images/20.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

.sign_in_form h1 {
 font-size: 5rem;
 color: #AEBC39;
}

.sign_in_form h2 {
 font-size: 3rem;
 color: #AEBC39;
}

.team_leads {
 display: flex;
 justify-content: center;
}

.team_leads li {
 color:black;
 border: black solid 3px;
 background-color: rgb(137, 148, 39);
 width: 150px;
 height: 150px;
 margin: 10px;
 padding: 10px;
}

.team_leads li:hover {
 background-color: #e7a61a;

}