.home {
 margin: 0;
 padding: 0;
 display: flex;
 flex-grow: 1;
 flex-wrap: wrap;
 justify-content: center;
 height: 100%;
}

.left__container {
 color: white !important;

 min-height: 100%;
 flex-grow: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-image: linear-gradient(to top, rgba(104, 104, 104, 0.616), #0000007c),
  url("../images/anna-earl-J-Jb1niw1j0-unsplash.jpg");
 background-position: center;
 background-size: cover;

 ;
}


.left__container>h1 {
 color: inherit;
 margin: 1vh;
 padding: 1vh;
 font-size: max(5vw, 25px);
 line-height: 1;
}

.left__container>.header {
 display: flex;
 justify-content: center;
 align-items: center;
}

.left__container>.header>svg {
margin-right: 1vw;
color: white ;
}


.left__container>img {
 width: max(150px, 25vw);
 height: auto;
}

.left__container>p {
 line-height: 1;
 color: inherit;
 margin: 1vh;
 padding: 1vh;
 margin-top: 10px;
 margin-bottom: 25px;
 font-size: max(1.5vw, 20px);
}

.right__container {
 flex-grow: 1;
 background-color: palegreen;
}

#home_button {
 font-size: max(1.5vw, 20px);
 border-radius: 7px;
 padding: 1vw 5vw 1vw 5vw;
 color: #004445;
 background-color: khaki;
}

#home_button:hover {
 text-decoration: none;
 background-color: coral;
 color: white;
}