.pickaname ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.pickaname #id {
 color: #000000;
 font-size: 1rem;
}

.pickaname ul li {
 max-width: 250px;
 width: 15rem;
 margin: 10px;
 padding: 10px;
 border: black solid 3px;
 background-color: #f8b400;
 color: black;
}

.pickaname ul li:hover {
 background-color: #beb18b;
}

#addnew {
 width: 150px;
 margin: 10px;
 padding: 10px;
 background-color: #004445;
 border: black solid 3px;
 font-style: oblique;
 color: white;
}

#addnew:hover {
 background-color: #2cb833;
}