.employees {
 font-family: 'Roboto', sans-serif;
 font-size: 1.2rem;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
}

.employees li {
 background-color: blueviolet;
 margin: 2em;
 padding: 2rem;
}

.employees li:hover {
 background-color: rgb(132, 0, 255);
 margin: 2em;
 padding: 2rem;
}