.entry_form {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.timeEntryForm {
 display: flex;
 flex-direction: column;
 align-self: center;
 margin: 2%;
 padding: 2%;
 border: 1px solid darkgreen;
 border-radius: 5px;
 text-align: justify;
 min-width: 50vw;
 align-self: center;
 text-align: justify;
 min-width: 50vw;
}

.Names {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 5px;
}

.form-group {
 margin: 0px;
 padding: 0px;
}

.form-row .form-group .form-label {
 margin-bottom: 0px;
}

#form_title {
 margin-top: 10px;
 padding-top: 10px;
 grid-column-start: 1;
 grid-column-end: 5;
 font-size: 150%;
 border-bottom: 1px solid darkgreen;
 : bold;
}


.first_name {
 grid-column-start: 1;
 grid-column-end: 3;
}

.middle_name {
 grid-column-end: 4;
}

.last_name {
 grid-column-start: 1;
 grid-column-end: 4;
}

.sign_in_form form input[type=submit] {
 margin: 10px;
 grid-column: span 2;
 border: 1px black solid;
 min-height: 50px;
}

.sign_in_form form input[type=submit]:hover {
 background-color: #2c786c;
 color: white;
}