.cs_container {
 min-height: 50vh;
 margin-top: 5vh;
 display: flex;
 flex-direction: column;
 text-align: center;
}


.searchbox input[type=search] {
 transition: max-width .8s ease-in-out;
 margin: 10px;
 padding: 10px;
 padding-left: 25px;
 border-radius: 25px;
 overflow: hidden;
 /* width: 20vw; */
 max-width: 25vw;
 outline: none;
 border: 2px solid #004445;

}

/* input[type=search]:focus {
 max-width: 30vw;
}

input[type=search]:hover {
 max-width: 30vw;
} */


.cs_container button {
 background-color: #004445;
 min-width: 50px;
 border-radius: 50px;
 border: none;
 width: 8%;
 margin: 10px;
 padding: 10px;
 color: white;
 border: 2px solid black;
}

.cs_container button:hover {
 background: cadetblue;
}

.cs_container button:active {
 background: rgb(17, 101, 104);
}


.volunteers {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 text-align: left;
 margin: 0px;
 padding-inline-start: 0px;
 padding-top: 10px;
 text-align: center;
 justify-content: center;
}

.volunteers li {
 background-color: #e7a61a;
 margin: 10px;
 padding: 10px;
 border: 3px solid black;
 /* width: 10rem; */
 /* height: 6rem; */
 min-width: 200px;
 max-height: 200px;
 overflow: scroll;
}

.volunteers li:hover {

 background-color: #beb18b;

}

.volunteers p {
 padding-top: 10px;
 line-height: 0px;
}